
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite DB files
*.sqlite3

# TSV and CSV data files
data/
csv/
*.tsv
*.csv

# Environment files
.env
*.env

# IDE configs
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python virtual environments
venv/
.env/
env/

# Logs
*.log
